:root {
  --primary-hue: 220;
  --primary-lightness-base: 25%;
  --primary-saturation: 54%;
  --background: url('/background.webp');
  --primary-color-alpha-5: hsl(var(--primary-hue) var(--primary-saturation) var(--primary-lightness-base) / 5%);
  --primary-color-alpha-15: hsl(var(--primary-hue) var(--primary-saturation) var(--primary-lightness-base) / 15%);
}

@media screen and (prefers-color-scheme: light) {
  :root {
    --gradient-multiplier: 3.5;
  }
}

body {
  background: var(--background);
  background-size: cover;
  background-position-y: top;
  background-position-x: left;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;

  --gradient-bottom-color: transparent !important;
}
