<div class="cosmo-modal__container" [class.is--closed]="!isOpen">
  <form class="cosmo-modal" [formGroup]="formGroup" (ngSubmit)="saveDevice()">
    <h1 class="cosmo-modal__title">Gerät hinzufügen</h1>
    <div class="cosmo-modal__content">
      @if (hasError) {
        <div class="cosmo-message is--negative">
          <span class="cosmo-message__header">Fehler beim Hinzufügen</span>
          <p>Leider konnte dein neues Gerät nicht hinzugefügt werden. Bitte wende dich an deinen Administrator.</p>
        </div>
      }
      <div class="cosmo-tab">
        <div class="cosmo-tab__links">
          <a class="cosmo-tab__link" [class.is--active]="tab === ActiveTab.Code" (click)="switchToCode()">
            Automatisch
          </a>
          <a class="cosmo-tab__link" [class.is--active]="tab === ActiveTab.Manual" (click)="tab = ActiveTab.Manual">
            Von Hand
          </a>
        </div>
        <div class="cosmo-tab__content">
          @if (tab === ActiveTab.Code) {
            <div class="jewels-new">
              <div>
                <div class="token" id="qrCode"></div>
              </div>
              <div>
                <div class="cosmo-message is--information">
                  <h3 class="cosmo-message__header">Wozu ist das Token da?</h3>
                  <p class="cosmo-message__message">
                    Das Token ist für die Jewels App oder den Jewels Linux Client,<br />
                    um automatisiert Informationen über dein Gerät in Jewels zu speichern.<br />
                    Um die Verwendung möglichst einfach zu machen,<br />
                    kannst du den unten angezeigten QR Code einfach mit der Jewels App scannen.<br />
                    Wenn du den Linux Client benutzt, musst du die Infos unter dem QR Code eintragen.
                  </p>
                </div>
                <div class="cosmo-message is--warning">
                  <h3 class="cosmo-message__header">Speicher dir das Token</h3>
                  <p class="cosmo-message__message">
                    Das Token ist nach dem Speichern nicht mehr verfügbar, bitte speicher es dir ab.
                  </p>
                </div>
                <div class="cosmo-input__group">
                  <label class="cosmo-label" for="tokenUrl">Url</label>
                  <input class="cosmo-input" type="text" readonly id="tokenUrl" [value]="host" />
                  <label class="cosmo-label" for="token">Token</label>
                  <input class="cosmo-input" type="text" readonly id="token" name="token" [value]="token" />
                </div>
              </div>
            </div>
          } @else if (tab === ActiveTab.Manual) {
            <div class="cosmo-input__group">
              <label for="type" class="cosmo-label">Gerätetyp</label>
              <select id="type" class="cosmo-select" required formControlName="type">
                <option [value]="Type.Phone">Smartphone oder Tablet</option>
                <option [value]="Type.Computer">Computer oder Laptop</option>
                <option [value]="Type.Watch">Smartwatch</option>
                <option [value]="Type.Other">Sonstiges</option>
              </select>
              @if (formGroup.value.type === Type.Computer) {
                <label for="hostname" class="cosmo-label">Name</label>
                <input id="hostname" class="cosmo-input" type="text" formControlName="hostname" required />
              }
              <label for="model" class="cosmo-label">Model</label>
              <input id="model" class="cosmo-input" type="text" formControlName="model" required />
              <label for="manufacturer" class="cosmo-label">Hersteller</label>
              <input id="manufacturer" class="cosmo-input" type="text" formControlName="manufacturer" required />
              @if (formGroup.value.type === Type.Computer || formGroup.value.type === Type.Phone) {
                <label for="operatingSystem" class="cosmo-label">Betriebssystem</label>
                <input
                  id="operatingSystem"
                  class="cosmo-input"
                  type="text"
                  formControlName="operatingSystem"
                  required
                />
                <label for="operatingSystemVersion" class="cosmo-label">Betriebssystem Version</label>
                <input
                  id="operatingSystemVersion"
                  class="cosmo-input"
                  type="text"
                  formControlName="operatingSystemVersion"
                />
              }
              @if (
                formGroup.value.type === Type.Computer ||
                formGroup.value.type === Type.Phone ||
                formGroup.value.type === Type.Watch
              ) {
                <label for="storage" class="cosmo-label">Speicherplatz in GB</label>
                <input
                  id="storage"
                  class="cosmo-input"
                  type="number"
                  formControlName="storage"
                  [required]="formGroup.value.type === Type.Computer"
                  step="0.01"
                />
                <label for="ram" class="cosmo-label">Arbeitsspeicher in GB</label>
                <input
                  id="ram"
                  class="cosmo-input"
                  type="number"
                  formControlName="ram"
                  [required]="formGroup.value.type === Type.Computer"
                  step="0.01"
                />
              }
              @if (formGroup.value.type === Type.Computer) {
                <span class="cosmo-input__header">Prozessor</span>
                <label for="cpuManufacturer" class="cosmo-label">Hersteller</label>
                <select id="cpuManufacturer" class="cosmo-select" formControlName="cpuManufacturer" required>
                  <option [value]="CpuManufacturer.Intel">Intel</option>
                  <option [value]="CpuManufacturer.AMD">AMD</option>
                </select>
                <label for="cpuModel" class="cosmo-label">Model</label>
                <input id="cpuModel" class="cosmo-input" type="text" formControlName="cpuModel" required />
                <label for="cpuSpeed" class="cosmo-label">Geschwindigkeit in GHz</label>
                <input id="cpuSpeed" class="cosmo-input" type="number" formControlName="cpuSpeed" step="0.01" />
                <label for="cpuCores" class="cosmo-label">Kerne</label>
                <input id="cpuCores" class="cosmo-input" type="number" formControlName="cpuCores" />
                <label for="cpuThreads" class="cosmo-label">Threads</label>
                <input id="cpuThreads" class="cosmo-input" type="number" formControlName="cpuThreads" />
              }
              @if (
                formGroup.value.type === Type.Other ||
                formGroup.value.type === Type.Phone ||
                formGroup.value.type === Type.Watch
              ) {
                <label for="eol" class="cosmo-label">Supportende</label>
                <input id="eol" class="cosmo-input" type="date" formControlName="eol" />
              }
            </div>
          }
        </div>
      </div>
    </div>
    <div class="cosmo-modal__button-bar">
      <button class="cosmo-button" type="button" (click)="close()">Verwerfen</button>
      <button class="cosmo-button" type="submit">Gerät speichern</button>
    </div>
  </form>
</div>
