:root {
	--primary-hue: 200;
	--primary-lightness-base: 55%;
	--primary-saturation: 87%;

	--background: url('/background-lightmode.webp');
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--background: url('/background-darkmode.webp');
	}
}

@media screen and (prefers-color-scheme: light) {
	:root {
		--gradient-multiplier: 1.5;
	}
}

body {
	background: var(--background);
	background-size: cover;
	background-position-y: bottom;
	background-position-x: left;
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;

	--gradient-bottom-color: transparent !important;
}
